
.header{
  background: #833ab4;  
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
}

.page-content{
  background: #833ab4;  
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  text-align: center;
  
}

.cont{
  display: grid;
  justify-content: center;
  align-content: center; 
  
}

img{
  height: 250px;
  padding-top: 5em;
}

.text-banner{
  background-color: black;
  opacity: .8;
  margin:auto;
  width: 66%;
  border-radius: 10px;
}

.text-banner h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.text-banner hr{
  border-top: 8px dotted white;
  margin: auto;
  width: 50%;
}

.text-banner p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.Social_Links{
  display: flex;
  justify-content: space-around; 
}

.Social_Links i{
  color: white;
  padding: 5px;
  font-size: 3em;
}
